# Build directories
build/
bin/
out/

# VS Code
.vscode/

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.pch
*.gch

# Static Libraries
*.lib
*.a

# Dynamic Libraries
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Debug files
*.pdb